# PostgreSQL Database connection strings (Neon or local PostgreSQL)
# keep Neon credentials secure: do not expose them to client-side code

DATABASE_URL='postgresql://neondb_owner:npg_TqtDZizO9mj7@ep-winter-sun-ay2tg5ju-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/schore?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/schore?schema=public"

# Authentication Secrets
JWT_ACCESS_SECRET="your_jwt_access_secret_minimum_32_characters"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_minimum_32_characters"

# App Version Compatibility
MIN_SUPPORTED_APP_VERSION="1.0.0"
LATEST_APP_VERSION="1.0.0"
